.contato {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2.5rem;
}

.contato img {
  max-height: 700px;
  border-radius: 8px;
}

.lista {
  list-style: none;
  font-size: 1.25em;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.lista li::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 2px;
  background-color: #ddd;
  margin-right: 0.5em;
}

.lista li + li {
  margin-top: 1.25em;
}
