.produtos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  list-style: none;
}

.produtos a {
  text-decoration: none;
  color: #333;
}

.produto img {
  max-height: 350px;
  border-radius: 8px;
}
